*{
  padding: 0px;
  margin: 0px
}

header{
  width: 100%;
}
.head{
  background-color: #fff;
  cursor: pointer;
  text-align: center;
 display: flex;
 font-family: sans-serif;
 padding: 1%;
 box-shadow: 0px 0px 5px 1px rgb(176, 139, 139);
}
.searchbar{
  padding: 0.5%;
  text-align: center;
  background-color: #4cb5b0;
  margin: 0.5%;
  border-radius: 5px;
}
.imglogo{
  width: 8%;
  margin: 0.5%;
}
.head span{
  border: solid 1px wheat;
  margin-left:  3%;
  padding: 0.5%;
  border-radius: 5px;
  background-color: whitesmoke;
}
.head span:hover{
  background-color: #B0C4DE;
}
.additm {
  position: absolute;
  left: 80%;
  top: 3%;
  display: flex;
}
.additm div{
  margin-left: 25%;
}
input{
  margin: 1%;
  padding: 0.8%;
  width: 25%;
  border-radius: 50px;
}
#search{
  padding: 0.8%;
  width: 10%;
  cursor: pointer;
  border-radius: 50px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.sidebar h3{
margin-left: 2%;
margin-top: 1%;
}
.sidebar div{
  margin-top: 1%;
}
.sidesecond h3{
  margin-left: 2%;
  margin-top: 1%;
}
.sidesecond div{
  margin-top: 1%;
}
.sidethree h3{
  margin-left: 2%;
  margin-top: 1%;
}

.sidethree div{
  margin-top: 1%;
}

.mainside{
  width: 20%;
  margin: 1%;
  padding: 1%;
  border-radius: 8px;
  border: solid 1px;
  height: 65vh;
  box-shadow: 0px 0px 5px 2px rgb(152, 143, 143);
}
.right{
  border: solid 1px;
  border-radius: 5px;
  padding: 1%;
  width: 20%;
  position: absolute;
  top: 41.5%;
  left: 71%;
  box-shadow: 0px 0px 5px 3px #d14460;
}
.right button{
  margin: 1%;
  text-align: center;
  padding: 1%;
  background-color: #ef3f36;
  color: white;
  cursor: pointer;
  width: 40%;
}
.right input{
  margin: 3%;
}
.set{
  margin: 2%;
  padding: 5%;
  border-radius: 5px;

  box-shadow: 0px 0px 2px 2px #baa9ac;
}
#renderjobs{
  display: grid;
  margin: 0.5%;
  grid-template-columns: repeat(3, 2fr);
}
.hedingthree{
  margin: 1%;
}
.smallogo{
  width: 10%;
  margin-top: -2%;
}
.set span{
 font-weight: 600;
}
.set div{
  opacity: 0.8;
  margin: 0.8%;
}